body {
    font-family: Assistant, sans-serif;
    color: #0a2233;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    
}



.login {
    border: solid 2px color green;
    background-color: green;
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    padding: 8px 20px;
    font-size: 15px;
    transition: 0, 3s linear;
}

.login:hover {
    background-color: lightseagreen;
}

.navbar-toggler {
    border: none;
}

.offcanvas-body {
    margin: 8px;
    /* color: #fff; */

}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-weight: 500;
    position: relative;
    color: white;
    font-size: 25px;
    /* background-color: #fff; */
}

.nav-link:hover,
.nav-link.active {
    color: green;
}

@media (min-width: 991px) {
    .nav-link::before {

        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: green;
        visibility: hidden;
        transition: 0.4s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link::before {

        width: 100%;
        visibility: visible;
    }
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: green;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
    visibility: visible;
}
.me-auto {
    color: rgb(255, 0, 0);
    font-weight: 700;
    transition: 0.3s color;
    font-size: 25px;
    /* background-color: #c90a0a; */
}

/* .navbar{
    /* background-color: #fff;
    height: 80px; */
    /* color: #fff;
    background-color: #fff;
    height: 80px;
    border-radius: 20px;
    border: 5px solid rgb(216, 23, 23);
    margin-top: 10px;
} */ */

.am{
justify-content: center; align-items: center;
}
.hero .am{
    position: relative;
}
.hero h1{
    margin-top: 90px;
}

.home{
    margin-top: 100px;
    background-color: bisque;
    width: 100%;
    height: 100vh;
    
}


.header-right img{
    width: 570px;
    height: 500px;
    margin-top: 200px;
    margin-left: 110px;
    border: 2px solid;
    border-bottom-left-radius: 30px;
}
.container{
    display: flex;
}
.header-left{
    margin-top: 200px;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.3;
    margin-bottom: 25px;
    
}
.header-left h1{
    font-weight: 700;
    font-size: 55px;
    line-height: 1.3;
    margin-bottom: 25px;
}
.navbar{
    background-color:bisque;
}
header{
    background-color: bisque;
}
.header-left a{
    width: 30px;
    height: 10px;
    border: solid 1px indianred;
    background-color: indianred;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s linear;

}
.header-left a:hover{
    background-color:  #0a2233;
    box-shadow: 2px 1px;
    color: #fff;
}
main{
    background-color: #fff;
    width: 100%;
    height: 55vh;
}
.text{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 25px;
    color: #0a2233;
    padding-top: 100px;
}
.ha{
    padding-top: 10px;
    /* font-size: 18px; */
    font-weight: 600;
    line-height: normal;
    color: #0a2233;
    text-align: center;
}
.h{
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    line-height: 1.9;
}
.header-left img{
    width: 500px;
    height: 500px;
    margin-top: -150px;
    margin-left: -5px;
    border: 2px solid;
    border-bottom-left-radius: 30px;
}
.aman{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.rr{
    margin-bottom: 2px;
    margin-left: 100px;
    /* margin-right: 1px; */
    width: 90%;
    padding-bottom: 45px;
    padding-right: 10px;
    padding-top: 45px;
}
h4{
    
    margin-bottom: 2px;
    margin-left: 60px;
    /* margin-right: 1px; */
    width: 90%;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-top: 15px;
}
.ss{    margin-top: -55px;
    margin-left: 313px;
}
.nn{
    margin-top: -55px;
    margin-left: 318px;
}
  .header-right a{  
    width: 30px;
    height: 10px;
    border: solid 1px indianred;
    background-color: indianred;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s linear;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-left: 30px;
  }
  .new{
    
    margin-bottom: 2px;
    margin-left: 60px;
    /* margin-right: 1px; */
    width: 90%;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-top: 15px;
    
  }
  .header-right a:hover{
    background-color: rgb(239, 239, 167);
    box-shadow: 2px 1px;
    color: black;
  }
  menu{
    background-color: #fff;
    width: 100%;
    height: 40vh;
  }

section{
    width: 100%;
    height: 100%;
    background-color: #eccccc;
}
section h1{
    text-align: center;
  
    font-weight: bold;
}
section h5{
    text-align: center;
  
    font-weight: bold;
    padding-top: 20px;
}
.headertext h6{
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.newim img{
    width: 730px;
    height: 360px;
    margin-top: 15px;
    margin-left: 110px;
    border: 2px solid;
    border-bottom-left-radius: 30px;
}
.full{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.para h1{
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 80px;
}
.para h6{
    text-align: center;
    font-weight: 300;

}
.card .card-item{
    color: #fff;
    width: 400px;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid indianred;
    background-color: rgb(255, 255, 255,0.2);
    flex-direction: column;
    backdrop-filter: blur(30px);
}
.card .card-item .img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;

}
.card .card-item .pro{
    font-size: 1.15rem;
    color: #0b0404;
    font-weight: 500;
    margin: 14px 0 40px;
}
.name{
    color: #0a2233;
}